# Python summary part 1

## Data types

In [3]:
name = "Fredrik"
age = 29.7
loves_code = True

name

'Fredrik'

In [4]:
print(name)

Fredrik

In [6]:
print(f"My name is {name}, I am {age} years old.\nDo I love code: {loves_code}")

My name is Fredrik, I am 29.7 years old.
Do I love code: True

In [7]:
type(name), type(age), type(loves_code)

(str, float, bool)

In [8]:
print(type(name))

<class 'str'>

In [9]:
print(f"{type(age) = }")

type(age) = <class 'float'>

## Collection types

- dictionary
- list
- tuple
- list

### list

In [14]:
# list of 4 strings
interests = ["badminton", "yoga", "math", "programming"]

# list of different data types
person = ["Fredrik", 29.7, True]

interests

['badminton', 'yoga', 'math', 'programming']

In [15]:
person

['Fredrik', 29.7, True]

In [17]:
type(person[1])

float

In [18]:
person.append(interests)

In [19]:
person

['Fredrik', 29.7, True, ['badminton', 'yoga', 'math', 'programming']]

### accessing list

In [20]:
person[0]

'Fredrik'

In [21]:
person[-1]

['badminton', 'yoga', 'math', 'programming']

In [22]:
person[-1][2]

'math'

### slicing a list

In [23]:
person[1:2]

[29.7]

In [24]:
person[1:3]

[29.7, True]

In [25]:
person[:]

['Fredrik', 29.7, True, ['badminton', 'yoga', 'math', 'programming']]

In [26]:
person

['Fredrik', 29.7, True, ['badminton', 'yoga', 'math', 'programming']]

In [27]:
person[0:]

['Fredrik', 29.7, True, ['badminton', 'yoga', 'math', 'programming']]

In [28]:
person[1:]

[29.7, True, ['badminton', 'yoga', 'math', 'programming']]

In [29]:
person[::-1]

[['badminton', 'yoga', 'math', 'programming'], True, 29.7, 'Fredrik']

### iterating over lists
- for
- while

In [31]:
numbers = []
for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# list comprehension
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
odd_numbers = [number for number in numbers if number % 2]
odd_numbers

[1, 3, 5, 7, 9]

In [34]:
squares = [number**2 for number in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
for square in squares:
    print(square)

0
1
4
9
16
25
36
49
64
81

In [36]:
# mutating the list
squares[5] = "125"
squares

[0, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [37]:
hex(id(squares))

'0x1eeedf51800'

In [39]:
squares[0] = True
squares

[True, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [40]:
hex(id(squares)) # memory address is the same even if we've changed the list

'0x1eeedf51800'

### tuple
- immutable collection

In [41]:
numbers = tuple(i for i in range(10))
numbers

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [42]:
type(numbers)

tuple

In [43]:
numbers[4]

4

In [44]:
numbers[5:-2]

(5, 6, 7)

In [45]:
# can't mutate a tuple (TypeError)
numbers[5] = 125

TypeError: 'tuple' object does not support item assignment

In [46]:
squares = tuple(number**2 for number in numbers)
squares

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [47]:
type(squares)

tuple

In [48]:
hex(id(numbers)), hex(id(squares))

('0x1eeefcd53c0', '0x1eeefcd61c0')

### set
- unique collection

In [53]:
import random as rnd

dices = [rnd.randint(1,6) for _ in range(20)]
dices

[3, 3, 3, 4, 6, 2, 6, 4, 6, 1, 2, 1, 2, 2, 4, 5, 4, 5, 5, 6]

In [54]:
unique_dices = set(dices)
unique_dices

{1, 2, 3, 4, 5, 6}

In [ ]:
unique_dices[0] # TypeError

In [55]:
set2 = {1,2,3,10,15}
set2

{1, 2, 3, 10, 15}

In [57]:
unique_dices.intersection(set2), unique_dices & set2

({1, 2, 3}, {1, 2, 3})

In [59]:
unique_dices | set2, unique_dices.union(set2)

({1, 2, 3, 4, 5, 6, 10, 15}, {1, 2, 3, 4, 5, 6, 10, 15})

### dictionary
- key:value pair

In [60]:
person1 = dict(name = "Fredrik", age = 29.7, loves_code = True)
person1

{'name': 'Fredrik', 'age': 29.7, 'loves_code': True}

In [63]:
person2 = {"name": "Fredrik", "age": 29.7, "loves_code": True}
person2

{'name': 'Fredrik', 'age': 29.7, 'loves_code': True}

In [64]:
person1 == person2

True

In [65]:
hex(id(person1)), hex(id(person2))

('0x1eeef886540', '0x1eeee175e40')

In [66]:
hex(id(person1)) == hex(id(person2))

False

### iterating through dictionary

In [67]:
for key in person1:
    print(key)

name
age
loves_code

In [68]:
for key in person1:
    print(person1[key])

Fredrik
29.7
True

In [70]:
for key, value in person1.items():
    print(f"{key:<15} {value}")

name            Fredrik
age             29.7
loves_code      True

### dictionary comprehension

In [74]:
ml_terms = [
    "Supervised Learning",
    "Unsupervised Learning",
    "Feature Engineering",
    "Overfitting",
    "Cross-Validation",
]

ml_explanations = [
    "Learns from labeled data.",
    "Finds patterns in unlabeled data.",
    "Enhances input features for models.",
    "Model fits training data too closely.",
    "Evaluates model performance robustly.",
]

glossary = {
    term.lower(): explanation.lower()
    for term, explanation in zip(ml_terms, ml_explanations)
}
glossary

{'supervised learning': 'learns from labeled data.',
 'unsupervised learning': 'finds patterns in unlabeled data.',
 'feature engineering': 'enhances input features for models.',
 'overfitting': 'model fits training data too closely.',
 'cross-validation': 'evaluates model performance robustly.'}

In [75]:
glossary["supervised learning"]

'learns from labeled data.'